:root {
    --clr-white: #E1E1E1;
    --clr-lightgray: #a1a1a1;
    --clr-black: #1D1D1D;
    --clr-gray: #353535;
    --clr-main-red: #ED0000;
    --clr-highlight: #2071da;
    --clr-header: #282626;
}


* {
    box-sizing: border-box;
}

html {
    font-family: monts-light;
    font-size: 16px;
    color: var(--clr-white);
    
}

body {
    margin: 0;
    background-color: var(--clr-black);
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 0.4em;
    cursor: pointer;
    width: fit-content;
    padding: 5px;
    font-family: monts-light;
  }

  a {
    text-decoration: none;
    color: var(--clr-white);
  }

.svg {
    fill: var(--clr-white);
}

.main-layout {
    max-width: 1465px;
    padding: 50px;
    margin-inline: auto;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}

input {
    border: none;
    outline: none;
    color: var(--clr-white);
}

@font-face {
    font-family: monts-thin;
    src: url(../fonts/Montserrat/Montserrat-Thin.ttf);
}

@font-face {
    font-family: monts-light;
    src: url(../fonts/Montserrat/Montserrat-Light.ttf);
}

@font-face {
    font-family: monts;
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: monts-medium;
    src: url(../fonts/Montserrat/Montserrat-Medium.ttf);
}

@font-face {
    font-family: monts-semibold;
    src: url(../fonts/Montserrat/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: monts-bold;
    src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
}